.square {
    height: 9vh;
}

.grey {
    background-color: #333333;
}

.black {
    background-color: #000000;
}

.orange {
    background-color: #FF7F2A;
}

.yellow {
    background-color: #FECC19;
}